.image.avatar48 {
  border-radius: 50em;
  width: 90%;
  height: auto;
  background: #black;
}

.image.avatar48 img {
    border-radius: 50em;
    width: 90%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		color: #666;
		line-height: 0em;
  }

  #nav ul li a {
    display: block;
    padding: 0.1em 1.5em 0.1em 1.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-transition: none;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
  }
