.image.avatar48 {
  border-radius: 50em;
  width: 100%;
  height: auto;
  background: #black;
}

.image.avatar48 img {
    border-radius: 50em;
    width: 100%;
    height: auto;
  }

  h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		color: #666;
		line-height: 0em;
  }
